<div class="grid" style="background-color: snow">
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Inscripciones </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 2rem"></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Cursos </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p style="font-size: 2rem"></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Categorias </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p style="font-size: 2rem"></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
